<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825523101762-vvngoti5dlo8denou6aau80vsa2rmpd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825523101762-vvngoti5dlo8denou6aau80vsa2rmpd5</string>
	<key>API_KEY</key>
	<string>AIzaSyBcnP5kt8a0ZqjVjq2n8G2uZSGdWi4OvpY</string>
	<key>GCM_SENDER_ID</key>
	<string>825523101762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABventures.DietLocker</string>
	<key>PROJECT_ID</key>
	<string>dietlocker-14294</string>
	<key>STORAGE_BUCKET</key>
	<string>dietlocker-14294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825523101762:ios:0027b08fd5cf317bf40ddb</string>
</dict>
</plist>